header {
    display: flex;
    //justify-content: center;
    align-items: stretch;
    background: #405664;
    height: 60px;
    width: 100%;
    color: white;
    a {
        font-size: 100%;
        color: #eee;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: none;
        }
        &:focus {
            color: white;
            text-decoration: none;
        }
    }
    #logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50px);
        height: 100%;
        min-height: 100%;
        font-size: 150%;
        width: 100px;
        font-weight: 900;
        line-height: 60px;
        margin: 0 24px;
        color: white;
    }
    #link-container {
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        margin-left: auto;
        a {
            margin-right: 15px;
            margin-left: 10px;
        }
    }
    #user {
        margin-right: 20px;
        &:hover {
            cursor: pointer;
        }
    }
}
