.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto; }

.inner-container {
  padding: 0 10px 0 10px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 8px 0;
  padding: 0; }

.title {
  color: #EF9292;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.block {
  margin-bottom: 30px; }

.item-container {
  display: inline-block;
  width: 90px;
  height: auto;
  margin: 10px 10px; }
  .item-container .item-img {
    width: 100%;
    border: 1px solid #aaa;
    min-width: 100%; }
    .item-container .item-img:focus {
      outline: 2px solid deepskyblue; }
  .item-container .item-text {
    width: 100%;
    margin-top: 5px;
    color: #888;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.tab-area {
  margin-top: 15px; }

.ReactTabs__TabPanel {
  margin-top: -3px;
  padding: 15px 15px 5px 15px;
  height: 200px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: start;
  overflow: scroll; }

.focus-item-panel {
  width: 100%;
  border: 1px solid #bbb;
  background-color: white; }

#item-detail-panel {
  background-color: white;
  height: 200px;
  text-align: start;
  padding: 15px 20px;
  line-height: 1.9;
  color: #999; }
  #item-detail-panel #title {
    color: #5581A2; }

#recommend-panel {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden; }
  #recommend-panel .combination {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #aaa;
    height: auto;
    position: relative; }
    #recommend-panel .combination .favorite-icon {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 10px;
      right: 10px; }
      #recommend-panel .combination .favorite-icon:hover {
        cursor: pointer; }

.dropdown-container {
  display: flex;
  justify-content: space-around;
  margin: 16px 0; }
