.inner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #fee;
  font-size: 15px; }

.glyphicon {
  margin-right: 5px; }

#left-column {
  border-top: 1px solid #ccc; }
  #left-column .inner-header {
    background-color: #87AFC6; }
  #left-column .search-container {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc; }
    #left-column .search-container .stylish-input-group .input-group-addon {
      background: white !important;
      color: #aaa; }
    #left-column .search-container .stylish-input-group .form-control {
      border-right: 0;
      box-shadow: 0 0 0;
      border-color: #ccc; }

#middle-column {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  #middle-column .inner-header {
    background-color: #8CB6CF; }

#right-column {
  border-top: 1px solid #ccc; }
  #right-column .inner-header {
    background-color: #A5C6DD; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 8px 0;
  padding: 0; }

.title {
  color: #EF9292;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.block {
  margin-bottom: 30px; }

.item-container {
  display: inline-block;
  width: 90px;
  height: auto;
  margin: 10px 10px; }
  .item-container .item-img {
    width: 100%;
    border: 1px solid #aaa;
    min-width: 100%; }
    .item-container .item-img:focus {
      outline: 2px solid deepskyblue; }
  .item-container .item-text {
    width: 100%;
    margin-top: 5px;
    color: #888;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.focus-item-panel {
  width: 100%;
  border: 1px solid #bbb;
  background-color: white; }

#item-detail-panel {
  background-color: white;
  height: 200px;
  text-align: start;
  padding: 15px 20px;
  line-height: 1.9;
  color: #999; }
  #item-detail-panel #title {
    color: #5581A2; }
