.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto; }

.inner-container {
  padding: 0 10px 0 10px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 8px 0;
  padding: 0; }

.title {
  color: #EF9292;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.block {
  margin-bottom: 30px; }

.Dropdown-root {
  position: relative; }

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease; }

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }

.Dropdown-arrow {
  border-color: #d18688 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0; }

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px; }

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch; }

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: #333333;
  font-weight: bold;
  text-transform: capitalize; }

.Dropdown-option {
  box-sizing: border-box;
  color: #5581A2;
  cursor: pointer;
  display: block;
  padding: 8px 10px; }

.Dropdown-option:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #5581A2; }

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #5581A2; }

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px; }

.Dropdown-placeholder {
  color: #5581A2; }

.ReactTabs__Tab {
  background-color: #909FAA;
  color: white;
  margin: 0 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 19%; }

.ReactTabs__Tab--selected {
  background-color: #30729A !important;
  color: #fff !important; }

.ReactTabs__TabList {
  margin: 0 !important;
  border-bottom: none !important;
  display: flex;
  justify-content: space-between; }

.item-container {
  display: inline-block;
  width: 90px;
  height: auto;
  margin: 10px 10px; }
  .item-container .item-img {
    width: 100%;
    border: 1px solid #aaa; }
    .item-container .item-img:focus {
      outline: 2px solid deepskyblue; }
  .item-container .item-text {
    width: 100%;
    margin-top: 5px;
    color: #888;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.tab-area {
  margin-top: 15px; }

.ReactTabs__TabPanel {
  margin-top: -3px;
  padding: 15px 15px 5px 15px;
  height: 200px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: start;
  overflow: scroll; }

.focus-item-panel {
  width: 100%;
  border: 1px solid #bbb;
  background-color: white; }

#item-detail-panel {
  background-color: white;
  height: 200px;
  text-align: start;
  padding: 15px 20px;
  line-height: 1.9;
  color: #999; }
  #item-detail-panel #title {
    color: #5581A2; }

#recommend-panel {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden; }
  #recommend-panel .combination {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #aaa;
    display: flex;
    height: auto;
    position: relative; }
    #recommend-panel .combination .favorite-icon {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 10px;
      right: 10px; }
      #recommend-panel .combination .favorite-icon:hover {
        cursor: pointer; }

.dropdown-container {
  display: flex;
  justify-content: space-around;
  margin: 16px 0; }
